.body {
    
}

#root {
    width: 500px;
    margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-top: 15px;
}

li {
    list-style-type: none;
}

.wrapper {
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}

.button {
    margin-top: 5px;
    margin-right: 5px;
}