.bingo {
    background-color: aliceblue;
}

li {
    list-style-type: none;
    padding: 10px;
}

.balls {
    /* background-color: yellow;
    height: 50px;
    width: 50px;
    border-radius: 50%; */
}