.todo {
    margin-left: 1em;
}

.todo-row {
    background-color: red;
    width: 50%;
    padding: 20px;
    margin-bottom: 2px;
    opacity: 0.8;
}

.todo-row-complete {
    background-color: green;
    width: 50%;
    padding: 20px;
    margin-bottom: 2px;
    opacity: 0.8;
}

.task {
    color: white;
}

li {
    list-style-type: none;
}

.btn {
    background-color: black;
    padding: 4px;
    border: none;
    color: white;
    float: right;
    margin-right: 0.2em;
}

.add-btn {
    padding: 8px;
}

.input {
    padding: 8px;
}